[submodule "SpiderNode"]
	path = SpiderNode
	url = https://github.com/DeanoC/SpiderNode.git
[submodule "SpiderApp"]
	path = SpiderApp
	url = https://github.com/DeanoC/SpiderApp.git
[submodule "Spiderweb"]
	path = Spiderweb
	url = https://github.com/DeanoC/Spiderweb.git
[submodule "SpiderMonkey"]
	path = SpiderMonkey
	url = https://github.com/DeanoC/SpiderMonkey.git
[submodule "SpiderVenoms"]
	path = SpiderVenoms
	url = https://github.com/DeanoC/SpiderVenoms.git
[submodule "SpiderVenomRegistry"]
	path = SpiderVenomRegistry
	url = https://github.com/DeanoC/SpiderVenomRegistry.git
